<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <form id="resetPasswordForm">
      <input
        type="password"
        id="password"
        placeholder="New Password"
        required
      />
      <input
        type="password"
        id="confirmPassword"
        placeholder="Confirm New Password"
        required
      />
      <button type="submit">Reset Password</button>
    </form>

    <script>
      document
        .getElementById("resetPasswordForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const password = document.getElementById("password").value;
          const confirmPassword =
            document.getElementById("confirmPassword").value;
          const token = window.location.pathname.split("/").pop(); // Extract token from URL

          if (password !== confirmPassword) {
            alert("Passwords do not match");
            return;
          }

          fetch(`/api/auth/reset/${token}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ password }),
          })
            .then((response) => response.json())
            .then((data) => {
              alert(data.msg);
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
    </script>
  </body>
</html>
